{% extends "base.html" %}
{% block content %}
    <div class="container">
		<div style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
                      <form class="form-group" method="POST", action="" enctype="multipart/form-data">
                        {{form.hidden_tag()}}

                        <div class="form-group">
                          {{form.title.label(class="form-control-label")}}
                          {{form.title(class="form-control form-control-lg")}}
                        </div>
                        <div class="form-group">
                          {{form.text.label(class="form-control-label")}}
                          {{form.text(class="form-control form-control-lg")}}
                        </div>

                        <div class="form-group">
                          {{ form.file.label() }}
                          {{ form.file(class="form-control-file") }}
                        </div>

                        <div class="form-group">
                          {{form.submit(class="btn btn-success")}}
                        </div>

                      </form>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}